header  {
    height: 400px;
    filter: drop-shadow(1px 1px 1px);
    background-image: url("https://img.freepik.com/free-photo/knitted-sweaters-wooden-background-interior_169016-3698.jpg?t=st=1650297884~exp=1650298484~hmac=da1ddbafee79f6d3d900631b0cd539df8b81fc27eb168924a7efd3db19c874bd&w=1380");
    background-size:cover;
    opacity: 1;
    width: 100%;
    margin:0;
    padding: 0;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32pt;
    padding: 30px;
}

h4 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    padding-left: 60px;
}
#headerForm {
    position:absolute;
    right: 5px;
    bottom:5px;
}
#headerInput {
    font-size: 10pt;
    height: 20px;
}

#headerSubmit {
    font-size: 10pt;
    /* height: 20px */
}

#input {
    background-color: white;
    filter: drop-shadow(5px 5px 5px);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
}

#addPhoto{
    text-align: center;
}

#addCaption {
    text-align: center;
}

#tag {
    text-align: center;
}

.photo-tag {
    font-size: 8pt;
}

#deleteButton {
    height: 20px;
    width: 20px;
    font-size: x-small;
    position: absolute;
    top: 0px;
    right: 0;
    /* border: 1px solid black; */
    margin: 5px;
}

#cardField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main {
    display: flex;
    justify-content: space-around;
    
    background-color: #C4C4C4;
}

/* #editCaption {
    position: absolute;
    bottom: 6px;
    height: 22px;
    font-size: 8pt;

} */

/* #newCaption {
    position: absolute;
    bottom:34px;
    height: 22px;
    font-size: 8pt;
    text-align: center;
} */

.photo-display{
    max-height: 60%;
    max-width: 80%;
}

.photoCard{
    background-color: white;
    filter: drop-shadow(5px 5px 5px);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: large;
    
}

footer{
    display:block;
    width: 100%;
    color:#C4C4C4;
    height: 200px;
}

